a {
  color: #ccc
}

a:visited {
  color: #999
}

.Demo {
  text-align: center;
}

.Demo-logo {
  height: 40vmin;
  pointer-events: none;
}

.Demo-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Demo-link {
  color: #61dafb;
}

.Fallback-img {
  max-height: 300px;
}

.Demo-spin {
  animation: spin infinite 20s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
